{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.category }}</td>
                    <td>{{ transaction.quantity }}</td>
                    <td>{{ (transaction.quantity * transaction.amt_per_qty) | abs | usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}